$base_color: #ffffff;

$bg_color: #dcdad5;
$fg_color: #000000;

$selected_bg_color: #4b6983;
$selected_fg_color: #ffffff;

$tooltip_bg_color: #ffffbf;
$tooltip_fg_color: #000000;

$text_color: #000000;

$link_color: #0022ff;

$info_bg_color: #a7c6e1;
$warning_bg_color: #fcaf3e;
$error_bg_color: #f03838;